<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuite name="doctrineDbPatcher">
        <directory>./</directory>
    </testsuite>
    <php>
		<env name="APPLICATION_ENV" value="testing" />
    </php>
    <filter>
        <whitelist>
            <directory>../library</directory>
        </whitelist>
    </filter>
</phpunit>
